<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro de vehiculos </title>
    <link rel="stylesheet" href="../static/css/vehiculo.css">
</head>
<body>
    <h1>Formulario de Registro de Vehículo</h1>
    <form class="form" action="/vehiculo.registro_vehiculo" method="POST">
        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo" required><br><br>

        <label for="marca">Marca:</label>
        <select id="marca" name="marca" required>
            <option value="Acura">Acura</option>
            <option value="Alfa Romeo">Alfa Romeo</option>
            <!-- Agrega las demás opciones de marca aquí -->
        </select><br><br>

        <label for="color">Color:</label>
        <select id="color" name="color" required>
            <option value="blanco">Blanco</option>
            <option value="negro">Negro</option>
            <!-- Agrega las demás opciones de color aquí -->
        </select><br><br>

        <label for="placa">Placa:</label>
        <input type="text" id="placa" name="placa" maxlength="10" required><br><br>

        <label for="cilindraje">Cilindraje:</label>
        <input type="number" id="cilindraje" name="cilindraje" required><br><br>

        <label for="kilometraje">Kilometraje:</label>
        <input type="number" id="kilometraje" name="kilometraje" required><br><br>

        <label for="referencia">Referencia:</label>
        <select id="referencia" name="referencia" required>
            <option value="Deportivo">Deportivo</option>
            <option value="Familiar">Familiar</option>
            <!-- Agrega las demás opciones de referencia aquí -->
        </select><br><br>

        <label for="tipo_combustible">Tipo de Combustible:</label>
        <select id="tipo_combustible" name="tipo_combustible" required>
            <option value="Gasolina">Gasolina</option>
            <option value="Diésel">Diésel</option>
            <!-- Agrega las demás opciones de tipo de combustible aquí -->
        </select><br><br>

        <input type="submit" value="Registrar Vehículo">
    </form>
</body>
</html>